.css-1wjen9k {
	min-height: 300px;
	
	margin: 0 !important;
	padding: 0 !important;

	background: #f7f7f9 !important;
}

.css-l3xedq {
	position: absolute;

	width: 100% !important;
	height: 100% !important;
}