.background {
	background-color: rgb(46, 36, 56);
	
	tab-size: 4 !important;
	-moz-tab-size: 4 !important;

	padding: 0px 16px 16px;

	:global {
		.language-javascript,.language-typescript {
			color:rgb(118, 50, 185);
		}

		.hljs-keyword {
			color: white;
		}

		.hljs-title {
			color:rgb(146, 71, 221);
		}
	}
}